[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
flask = "*"
marshmallow = "*"
flask-cors = "*"
pylint = "*"
pylint-flask = "*"
uuid = "*"
pyjwt = "*"
flask-bcrypt = "*"
flask-migrate = "*"

[requires]
python_version = "3.8"
